<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    
    <title>About</title>
</head>
<body>
    {{>navbar}}

    <div class="main">
        <div class="container">
            <div class="left">
                <h1>{{errormsg}}</h1>
                <a href="/"><button>Go Back</button></a>
            </div>

            <div class="right">
               <img src="./Images/error.png" class="bg" alt="">
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>