<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    
    <title>About</title>
</head>
<body>
    {{>navbar}}

    <div class="main">
        <div class="container">
            <div class="left">
                <p>Welcome to weather app</p>
                <h1>I Am A <span>Mern Stack Developer</span> And A Freelancer</h1>
                <a href="/"><button>About Me</button></a>
            </div>

            <div class="right">
                <img src="./Images/bg2.png" class="bg" alt="">
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>