<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    
    <title>Weather</title>
</head>
<body>
    {{>navbar}}

    <div class="main">
        <div class="container">
            <div class="subcontainer">
                <div class="main_content">
                    <form action="" class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter you city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>

                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date">13 OCT</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {{>footer}}

    <script src="js/main.js"></script>
</body>

</html>